---

- name: 'Install Tarantool'
  package:
    name: tarantool
    state: present
  when:
    - package_info.tnt_version is not none
    - cartridge_install_tarantool_for_tgz

- name: 'Create group {{ cartridge_app_group }}'
  group:
    name: '{{ cartridge_app_group }}'
    state: present
  any_errors_fatal: true

- name: 'Create user {{ cartridge_app_user }} and add to group {{ cartridge_app_group }}'
  user:
    name: '{{ cartridge_app_user }}'
    groups: '{{ cartridge_app_group }}'
    append: true
  any_errors_fatal: true

- name: 'Create directories'
  file:
    path: '{{ dir_path }}'
    owner: '{{ cartridge_app_user }}'
    group: '{{ cartridge_app_group }}'
    state: directory
    mode: 0755
  loop_control:
    loop_var: dir_path
  with_items:
    - '{{ cartridge_run_dir }}'
    - '{{ cartridge_data_dir }}'
    - '{{ cartridge_conf_dir }}'
    - '{{ cartridge_install_dir }}'
    - '{{ cartridge_instances_dir }}'
    - '{{ instance_info.dist_dir }}'
  any_errors_fatal: true

- name: 'Configure tmpfiles'
  copy:
    content: >-
      d {{ cartridge_run_dir }} 0755 {{ cartridge_app_user }} {{ cartridge_app_group }}
    dest: '{{ instance_info.tmpfiles_conf }}'
    mode: 0644
  when: cartridge_configure_tmpfiles
  any_errors_fatal: true

- name: 'Unpack TGZ'
  unarchive:
    dest: '{{ instance_info.dist_dir }}'
    src: '{{ delivered_package_path }}'
    remote_src: true
    owner: '{{ cartridge_app_user }}'
    group: '{{ cartridge_app_group }}'
    extra_opts: '--strip-components=1'
  any_errors_fatal: true

- name: 'Create systemd unit files'
  include_tasks: create_systemd_unit_files.yml
  when: cartridge_configure_systemd_unit_files
