---

- name: 'Get package meta info'
  any_errors_fatal: true
  cartridge_set_package_info:
    package_path: '{{ delivered_package_path }}'
    app_name: '{{ cartridge_app_name }}'

- name: 'Set "cartridge_app_name" from package info'
  set_fact:
    cartridge_app_name: '{{ package_info.name }}'

- vars:
    version: '{{ package_info.tnt_version }}'
  when: cartridge_enable_tarantool_repo and package_info.tnt_version
  block:
    - name: 'Get repository setup script'
      get_url:
        url: https://tarantool-io.hb.bizmrg.com/website-static/tarantool/downloads/tarantool_installer.sh
        dest: '/tmp/tarantool-installer.sh'
      register: get_script
      until: not get_script.failed
      retries: 3
      delay: 5
      any_errors_fatal: true

    - name: 'Run repository setup script'
      any_errors_fatal: true
      environment:
        VER: '{{ version }}'
      command: bash /tmp/tarantool-installer.sh --repo-only
      changed_when: false

- name: 'Install RPM'
  any_errors_fatal: true
  yum:
    name: '{{ delivered_package_path }}'
    state: present
    update_cache: true
  register: install_rpm
  failed_when: install_rpm.rc != 0 and "does not update installed package" not in install_rpm.results[0]
  when: package_info.package_type == 'rpm'

- name: 'Install DEB'
  any_errors_fatal: true
  apt:
    deb: '{{ delivered_package_path }}'
    update_cache: true
  when: package_info.package_type == 'deb'

- name: 'Reload systemd daemon'
  systemd:
    daemon_reload: true
