---
variables:
  BUNDLE_VERSION: 1.10.3-93-g580699f

stages:
  - prebuild
  - unit
  - test

.dind:
  tags:
    - dind
  services:
    - name: docker:dind
      alias: localhost
      command: ["--mtu=1300"]
  image: docker:git
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1

.prebuild:
  tags:
    - shell
  stage: prebuild
  variables:
    DOCKER_BUILDKIT: 1
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker pull $IMAGE || true

    - docker build
      --cache-from $IMAGE
      --tag $IMAGE
      --file $DOCKERFILE
      .
    - docker push $IMAGE
  after_script:
    - docker logout registry.gitlab.com

prebuild-test:
  extends: .prebuild
  only:
    changes:
      - Dockerfile
      - .gitlab-ci.yml
  variables:
    IMAGE: $CI_REGISTRY_IMAGE
    DOCKERFILE: Dockerfile

prebuild-unit:
  extends: .prebuild
  only:
    changes:
      - Dockerfile.unit
      - .gitlab-ci.yml
      - unit/requirements.txt
  variables:
    IMAGE: $CI_REGISTRY_IMAGE:unit
    DOCKERFILE: Dockerfile.unit


unit:
  stage: unit
  tags:
    - docker
  image: $CI_REGISTRY_IMAGE:unit
  before_script:
    - tarantool --version
    - python3.6 --version
  script:
    - python3.6 -m unittest discover -v unit


.test:
  extends: .dind
  stage: test
  image: $CI_REGISTRY_IMAGE

  variables:
    CARTRIDGE_CLI_VERSION: 1.3.2

  before_script:
    - docker info
    - python3 --version
    - ansible --version
    - molecule --version

  cache:
    key: ${CI_COMMIT_REF_NAME}:${TARANTOOL_VERSION}:${CARTRIDGE_CLI_VERSION}
    paths:
      - packages

  script:
    - ./create-packages.sh
    - cd .. && (rm -rf tarantool-cartridge || true)
    - cp -R ansible-cartridge tarantool-cartridge && cd tarantool-cartridge

    - molecule test

test-enterprise:
  extends: .test
  variables:
    TARANTOOL_VERSION: enterprise

test-opensource-1.10:
  extends: .test
  variables:
    TARANTOOL_VERSION: opensource-1.10

test-opensource-2.2:
  extends: .test
  variables:
    TARANTOOL_VERSION: opensource-2.2
