---
variables:
  BUNDLE_VERSION: 1.10.3-93-g580699f
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

stages:
  - test

default:
  image: docker:git
  services:
    - name: docker:dind
      alias: localhost

  before_script:
    - apk update && apk add --no-cache docker
      python3-dev py3-pip docker gcc git curl build-base
      autoconf automake py3-cryptography linux-headers
      musl-dev libffi-dev openssl-dev openssh bash
    - docker info
    - python3 --version
    - pip3 install ansible molecule docker
    - ansible --version

test-enterprise:
  stage: test
  tags:
    - molecule-dind
  script:
    - ./linter.sh

    - rm -rf tarantool-cartridge || true
    - cd .. && cp -R ansible-cartridge tarantool-cartridge && cd tarantool-cartridge

    - TARANTOOL_VERSION=enterprise ./create-packages.sh
    - molecule test

test-opensource-1.10:
  stage: test
  tags:
    - molecule-dind
  script:
    - ./linter.sh

    - rm -rf tarantool-cartridge || true
    - cd .. && cp -R ansible-cartridge tarantool-cartridge && cd tarantool-cartridge

    - TARANTOOL_VERSION=opensource-1.10 ./create-packages.sh
    - molecule test

test-opensource-2.2:
  stage: test
  tags:
    - molecule-dind
  script:
    - ./linter.sh

    - rm -rf tarantool-cartridge || true
    - cd .. && cp -R ansible-cartridge tarantool-cartridge && cd tarantool-cartridge

    - TARANTOOL_VERSION=opensource-2.2 ./create-packages.sh
    - molecule test
