---
variables:
  BUNDLE_VERSION: 1.10.3-93-g580699f

stages:
  - prebuild
  - test

.dind:
  tags:
    - molecule-dind
  services:
    - name: docker:dind
      alias: localhost
  image: docker:git
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
    DOCKER_BUILDKIT: 1

prebuild:
  extends: .dind
  stage: prebuild
  only:
    changes:
      - Dockerfile
      - .gitlab-ci.yml
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
  script:
    - docker pull $CI_REGISTRY_IMAGE || true

    - docker build
      --cache-from $CI_REGISTRY_IMAGE
      --tag $CI_REGISTRY_IMAGE
      .
    - docker push $CI_REGISTRY_IMAGE
  after_script:
    - docker logout registry.gitlab.com

.test:
  extends: .dind
  stage: test
  image: $CI_REGISTRY_IMAGE

  variables:
    CARTRIDGE_CLI_VERSION: 1.3.2

  before_script:
    - docker info
    - python3 --version
    - ansible --version
    - molecule --version

  cache:
    key: ${CI_COMMIT_REF_NAME}:${TARANTOOL_VERSION}:${CARTRIDGE_CLI_VERSION}
    paths:
      - packages

  script:
    - ./unit.sh

    - ./create-packages.sh
    - cd .. && (rm -rf tarantool-cartridge || true)
    - cp -R ansible-cartridge tarantool-cartridge && cd tarantool-cartridge

    - molecule test

test-enterprise:
  extends: .test
  variables:
    TARANTOOL_VERSION: enterprise

test-opensource-1.10:
  extends: .test
  variables:
    TARANTOOL_VERSION: opensource-1.10

test-opensource-2.2:
  extends: .test
  variables:
    TARANTOOL_VERSION: opensource-2.2
