---
extends: default

ignore: |
  .gitlab-ci.yml
  .github
  venv

rules:
  line-length: {max: 120}
  indentation:
    spaces: 2
    indent-sequences: consistent
  truthy:
    check-keys: false
  comments-indentation: disable
