# Base
ansible==6.5.0;python_version>="3"

# Linters
yamllint==1.26.3;python_version>="3"
flake8==4.0.1;python_version>="3"

# Unit tests
parameterized==0.8.1;python_version>="3"
tenacity==8.0.1;python_version>="3"

# Molecule tests
molecule[docker]==3.6.1;python_version>="3"

# Molecule verification tests
requests==2.27.1;python_version>="3"
pytest-testinfra==6.6.0;python_version>="3"
