---
# Get tarantool dependency <major>.<minor> version
- name: Get tarantool dependency version
  set_fact:
    tnt_version: "{{ deplist.stdout | regex_search('tarantool >= ([0-9]+).([0-9]+)', '\\1', '\\2') }}"

# Set repository to tarantool/<major>_<minor>
- name: Set repository
  set_fact:
    repository: 'tarantool/{{ tnt_version[0] }}_{{ tnt_version[1] }}'
    dist: '{{ ansible_distribution_major_version }}'
    os: '{{ ansible_distribution }}'

- name: Set repo
  set_fact:
    redhat_config_file_url: https://packagecloud.io/install/repositories/{{ repository }}/config_file.repo
    redhat_config_query: '?os={{ os }}&dist={{ dist }}&name={{ ansible_nodename }}'
    redhat_config_file_location: /etc/yum.repos.d/{{ repository | replace("/", "_") }}.repo

- name: 'Adding packagecloud.io repository: {{ repository }}'
  get_url:
    url: '{{ redhat_config_file_url }}{{ redhat_config_query }}'
    dest: '{{ redhat_config_file_location }}'
  register: add_repository

- name: Update yum package cache  # noqa 503
  yum:
    name: '*'
    update_cache: true
    enablerepo: '{{ repository | replace("/", "_") }}'
  when: add_repository.changed
