---
- name: Copy RPM
  copy:
    src: '{{ cartridge_package_path }}'
    dest: /tmp/

- name: Set RPM filename
  set_fact:
    rpm_filename: '{{ cartridge_package_path | basename }}'

- name: Get RPM info  # noqa 301 303
  command: 'rpm -qip /tmp/{{ rpm_filename }}'
  args:
    warn: false
  register: rpm_info
  changed_when: false

- name: Get package name
  set_fact:
    package_name: "{{ rpm_info.stdout | regex_search('Name\\s*:\\s*(.*)\\s+', '\\1') | first }}"

- name: Fail if cartridge_app_name isn't equal to package name
  fail:
    msg: >-
      {{
        'cartridge_app_name value should be equal to package name. ' +
        'Found cartridge_app_name: "%s", package name: "%s"' | format(cartridge_app_name, package_name)
      }}
  when: cartridge_app_name != package_name

- name: Get RPM deplist
  command: 'rpm -qpR /tmp/{{ rpm_filename }}'
  args:
    warn: false
  register: deplist
  changed_when: false
  when: cartridge_enable_tarantool_repo

# Get tarantool dependency <major>.<minor> version
- name: Get tarantool dependency version
  set_fact:
    tnt_version: "{{ deplist.stdout | regex_search('tarantool >= ([0-9]+).([0-9]+)', '\\1', '\\2') }}"
  when: cartridge_enable_tarantool_repo

- name: Enable Tarantool repo
  include_tasks: enable_tarantool_repo.yml
  vars:
    repository: 'tarantool/{{ tnt_version[0] }}_{{ tnt_version[1] }}'
    package_type: rpm
  when: 'cartridge_enable_tarantool_repo and "tarantool" in deplist.stdout'

- name: Install RPM
  yum:
    name: '/tmp/{{ rpm_filename }}'
    state: present
    update_cache: true
    allow_downgrade: '{{ cartridge_allow_downgrade }}'
  register: install_rpm
  notify:
    - reload-systemd-daemon
