---
- name: Copy RPM
  copy:
    src: '{{ cartridge_package_path }}'
    dest: /tmp/

- name: Set RPM filename
  set_fact:
    rpm_filename: '{{ cartridge_package_path | basename }}'

- name: Get rpm info
  command: 'rpm -qip /tmp/{{ rpm_filename }}'
  args:
    warn: false
  register: rpm_info
  changed_when: false

- name: Get app name
  set_fact:
    cartridge_app_name: "{{ rpm_info.stdout | regex_search('Name\\s*:\\s*(.*)\\s+', '\\1') | first }}"

- name: Get RPM deplist
  command: 'rpm -qpR /tmp/{{ rpm_filename }}'
  args:
    warn: false
  register: deplist
  changed_when: false

- name: Enable Tarantool repo
  include_tasks: enable_tarantool_repo.yml
  when: '"tarantool" in deplist.stdout'

- name: Install RPM
  yum:
    name: '/tmp/{{ rpm_filename }}'
    state: present
    update_cache: true
