---
- name: Copy RPM
  copy:
    src: '{{ cartridge_package_path }}'
    dest: /tmp/

- name: Set RPM filename
  set_fact:
    rpm_filename: '{{ cartridge_package_path | basename }}'

- name: Get RPM deplist
  command: 'rpm -qpR /tmp/{{ rpm_filename }}'
  args:
    warn: false
  register: deplist
  changed_when: false
  when: cartridge_enable_tarantool_repo

# Get tarantool dependency <major>.<minor> version
- name: Get tarantool dependency version
  set_fact:
    tnt_version: "{{ deplist.stdout | regex_search('tarantool >= ([0-9]+).([0-9]+)', '\\1', '\\2') }}"
  when: cartridge_enable_tarantool_repo

- name: Enable Tarantool repo
  include_tasks: enable_tarantool_repo.yml
  vars:
    repository: 'tarantool/{{ tnt_version[0] }}_{{ tnt_version[1] }}'
    package_type: rpm
  when: 'cartridge_enable_tarantool_repo and "tarantool" in deplist.stdout'

- name: Install RPM
  yum:
    name: '/tmp/{{ rpm_filename }}'
    state: present
    update_cache: true
  register: install_rpm
  failed_when: install_rpm.rc != 0 and "does not update installed package" not in install_rpm.results[0]
  notify:
    - reload-systemd-daemon
