---
- name: Copy RPM
  copy:
    src: '{{ cartridge_package_path }}'
    dest: /tmp/

- name: Set RPM filename
  set_fact:
    rpm_filename: '{{ cartridge_package_path | basename }}'

- name: Get rpm info
  command: 'rpm -qip /tmp/{{ rpm_filename }}'
  args:
    warn: false
  register: rpm_info
  changed_when: false

- name: Get app name
  set_fact:
    cartridge_app_name: "{{ rpm_info.stdout | regex_search('Name\\s*:\\s*(.*)\\s+', '\\1') | first }}"

- name: Get RPM deplist
  command: 'rpm -qpR /tmp/{{ rpm_filename }}'
  args:
    warn: false
  register: deplist
  changed_when: false
  when: cartridge_enable_tarantool_repo

# Get tarantool dependency <major>.<minor> version
- name: Get tarantool dependency version
  set_fact:
    tnt_version: "{{ deplist.stdout | regex_search('tarantool >= ([0-9]+).([0-9]+)', '\\1', '\\2') }}"
  when: cartridge_enable_tarantool_repo

- name: Enable Tarantool repo
  include_tasks: enable_tarantool_repo.yml
  vars:
    repository: 'tarantool/{{ tnt_version[0] }}_{{ tnt_version[1] }}'
    package_type: rpm
  when: '"tarantool" in deplist.stdout and cartridge_enable_tarantool_repo'

- name: Install working Tarantool 1.10
  yum:
    name:
      - tarantool-devel-1.10.4.18-1.el7.x86_64
      - tarantool-1.10.4.18-1.el7.x86_64
  when: >-
    "tarantool" in deplist.stdout and cartridge_enable_tarantool_repo
    and tnt_version[0] + "." + tnt_version[1] == "1.10"

- name: Install RPM
  yum:
    name: '/tmp/{{ rpm_filename }}'
    state: present
    update_cache: true
  register: install_rpm

- name: Set package_updated variable
  set_fact:
    package_updated: '{{ install_rpm.changed }}'
