---
# Works only on RedHat
- name: Fail for other distributions
  fail:
    msg: 'Deploy to {{ ansible_os_family }} distributions is not supported yet'
  when: ansible_os_family != "RedHat"

- name: Dependencies
  include_tasks: install_dependencies.yml

- name: Install RPM for RedHat
  include_tasks: install_rpm.yml
  when: ansible_os_family == 'RedHat'

- name: Set one control instance to rule them all
  cartridge_control_instance:
    hosts: '{{ play_hosts }}'
    hostvars: '{{ hostvars }}'
  register: control_instance

- name: Global variables for control server address and host
  set_fact:
    control_instance_address: '{{ control_instance.meta.control_instance_address }}'
    control_instance_port: '{{ control_instance.meta.control_instance_port }}'
    control_instance_host: '{{ control_instance.meta.control_instance_host }}'

- name: Set host_address
  set_fact:
    host_address: '{{ ansible_host }}'

- name: Start instances
  include_tasks: start_instance.yml
  vars:
    instance: '{{ item }}'
  with_items: '{{ cartridge_instances }}'

- name: Probe instances
  include_tasks: probe_instance.yml
  vars:
    instance: '{{ item }}'
  with_items: '{{ cartridge_instances }}'

- name: Setup replicasets
  include_tasks: setup_replicaset.yml
  vars:
    replicaset: '{{ item }}'
  with_items: '{{ cartridge_replicasets }}'
  when: ansible_host == control_instance_host

- name: Bootstrap vshard
  include_tasks: bootstrap_vshard.yml
  when: cartridge_bootstrap_vshard and ansible_host == control_instance_host

- name: Manage failover
  include_tasks: manage_failover.yml
  when: ansible_host == control_instance_host
