---
# Works only on RedHat
- name: Fail for other distributions
  fail:
    msg: 'Deploy to {{ ansible_os_family }} distributions is not supported yet'
  when: ansible_os_family != "RedHat"

- name: Dependencies
  include_tasks: install_dependencies.yml

- name: Install RPM for RedHat
  include_tasks: install_rpm.yml
  when: ansible_os_family == 'RedHat'

- name: Set one control instance to rule them all
  cartridge_control_instance:
    hosts: '{{ play_hosts }}'
    hostvars: '{{ hostvars }}'
  register: control_instance

- name: Global variables for server and control_server address
  set_fact:
    server_address: '{{ ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0]) }}'
    control_instance_address: '{{ control_instance.meta.control_instance_address }}'
    control_instance_port: '{{ control_instance.meta.control_instance_port }}'

- name: Start instances
  include_tasks: start_instance.yml
  vars:
    instance: '{{ item }}'
  with_items: '{{ cartridge_config.instances }}'

- name: Set roles
  include_tasks: set_roles.yml
  vars:
    instance: '{{ item }}'
  with_items: '{{ cartridge_config.instances }}'
  when: item.roles is defined

- name: Join replicas
  include_tasks: join_replicas.yml
  vars:
    instance: '{{ item }}'
  with_items: '{{ cartridge_config.instances }}'
  when: item.replica_for is defined
