---
- name: Manage instance parameters in runtime
  cartridge_instance:
    control_sock: '{{ instance_control_sock }}'
    config: '{{ config }}'
    cartridge_defaults: '{{ cartridge_defaults }}'
  when: >-
    not restarted and not expelled and
    (config.memtx_memory is defined or cartridge_defaults.memtx_memory is defined )
  tags: cartridge-instances

- name: Check if instance restart is forced or required to apply changes
  cartridge_needs_restart:
    restart_forced: '{{ restarted }}'
    control_sock: '{{ instance_control_sock }}'
    appname: '{{ cartridge_app_name }}'
    instance_conf_file: '{{ instance_conf_file }}'
    conf_section_name: '{{ instance_conf_section }}'
    cluster_cookie: '{{ cartridge_cluster_cookie }}'
    cartridge_defaults: '{{ cartridge_defaults }}'
    config: '{{ config }}'
    stateboard: '{{ stateboard }}'
    app_conf_file: '{{ app_conf_file }}'
    bin_dir: '{{ bin_dir }}'
  notify: restart-instance
  tags: cartridge-instances

- name: Place default config
  copy:
    content: >-
      {{
        { cartridge_app_name: cartridge_defaults | combine({"cluster_cookie": cartridge_cluster_cookie}) }
        | to_nice_yaml
      }}
    dest: '{{ app_conf_file }}'
    owner: '{{ instance_user }}'
    group: '{{ instance_group }}'
    mode: '644'
  when: not stateboard
  tags: cartridge-instances

- name: Place instance config
  copy:
    content: >-
      {{
        { instance_conf_section: config }
          | to_nice_yaml
      }}
    dest: '{{ instance_conf_file }}'
    owner: '{{ instance_user }}'
    group: '{{ instance_group }}'
    mode: '644'
  tags: cartridge-instances
