---

- name: 'Connect instance to membership'
  cartridge_probe_instance:
    console_sock: '{{ instance_info.console_sock }}'
    hostvars: '{{ hostvars }}'
    play_hosts: '{{ play_hosts }}'
  register: probe
  until: not probe.failed
  retries: 3
  delay: 5
  when: not expelled and not stateboard
  tags:
    - cartridge-instances
    - cartridge-replicasets
