---

- when: (cartridge_package_path is not none) and (inventory_hostname in single_instances_for_each_machine)
  tags: cartridge-instances
  block:
    - name: 'Copy package'
      any_errors_fatal: true
      copy:
        src: '{{ cartridge_package_path }}'
        dest: /tmp/
      register: copied_package

    - name: 'Set delivered package path'
      set_fact:
        delivered_package_path: '{{ copied_package.dest }}'
