---

- tags: cartridge-replicasets
  block:
    - name: 'BLOCK: Select control instance'
      include_tasks: 'blocks/set_control_instance.yml'
      run_once: true
      when: not control_instance

    - import_tasks: 'blocks/check_new_topology.yml'

    - name: 'Edit topology via {{ control_instance.name }}'
      cartridge_edit_topology:
        module_hostvars: '{{ cached_facts.edit_topology }}'
        play_hosts: '{{ play_hosts }}'
        console_sock: '{{ control_instance.console_sock }}'
        healthy_timeout: '{{ edit_topology_timeout or edit_topology_healthy_timeout }}'
        netbox_call_timeout: '{{ twophase_netbox_call_timeout }}'
        upload_config_timeout: '{{ twophase_upload_config_timeout }}'
        apply_config_timeout: '{{ twophase_apply_config_timeout }}'
        allow_missed_instances: '{{ edit_topology_allow_missed_instances }}'
      run_once: true
      delegate_to: '{{ control_instance.name }}'

    - name: 'Update information about disabled instances in cluster'
      set_fact:
        cluster_disabled_instances: '{{ inventory_disabled_instances }}'
      run_once: true
      delegate_to: '{{ control_instance.name }}'
