---
- name: Reload systemd daemon
  systemd:
    daemon_reload: true
  listen: reload-systemd-daemon
  tags: cartridge-instances

- name: Restart instance systemd service
  systemd:
    name: '{{ instance_systemd_service }}'
    state: restarted
    enabled: true
  listen: restart-instance
  tags: cartridge-instances
