[Unit]
Description=Tarantool Cartridge stateboard for {{ cartridge_app_name }}
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env {{ systemd_units_info.stateboard_tarantool_binary }} {{ systemd_units_info.stateboard_entrypoint }}
Restart=on-failure
RestartSec=2
User=tarantool
Group=tarantool

Environment=TARANTOOL_APP_NAME={{ systemd_units_info.stateboard_name }}
Environment=TARANTOOL_CFG={{ cartridge_conf_dir }}
Environment=TARANTOOL_PID_FILE={{ systemd_units_info.stateboard_pid_file }}
Environment=TARANTOOL_CONSOLE_SOCK={{ systemd_units_info.stateboard_console_sock }}

ExecStartPre=/bin/sh -c 'mkdir -p {{ systemd_units_info.stateboard_work_dir }}'
Environment=TARANTOOL_WORKDIR={{ systemd_units_info.stateboard_work_dir }}
{% if systemd_units_info.stateboard_memtx_dir %}

ExecStartPre=/bin/sh -c 'mkdir -p {{ systemd_units_info.stateboard_memtx_dir }}'
Environment=TARANTOOL_MEMTX_DIR={{ systemd_units_info.stateboard_memtx_dir }}
{% endif %}
{% if systemd_units_info.stateboard_vinyl_dir %}

ExecStartPre=/bin/sh -c 'mkdir -p {{ systemd_units_info.stateboard_vinyl_dir }}'
Environment=TARANTOOL_VINYL_DIR={{ systemd_units_info.stateboard_vinyl_dir }}
{% endif %}
{% if systemd_units_info.stateboard_wal_dir %}

ExecStartPre=/bin/sh -c 'mkdir -p {{ systemd_units_info.stateboard_wal_dir }}'
Environment=TARANTOOL_WAL_DIR={{ systemd_units_info.stateboard_wal_dir }}
{% endif %}

# Unlimited cores size
LimitCORE=infinity
# Disable OOM killer
OOMScoreAdjust=-1000

# Systemd waits until all xlogs are recovered
TimeoutStartSec=86400s
# Give a reasonable amount of time to close xlogs
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
Alias={{ systemd_units_info.stateboard_name }}
