---
name: Unit tests

on:
  push:
  pull_request:

jobs:
  unit-tests:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'pull_request' && github.event.pull_request.head.repo.owner.login != 'tarantool'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tarantool-version: ["1.10"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Tarantool
        uses: tarantool/setup-tarantool@v1
        with:
          tarantool-version: '${{ matrix.tarantool-version }}'

      - name: Install Python requirements
        run: |
          pip3 install --upgrade -r requirements.txt

      - name: Cache unit tests requirements
        id: cache-packages
        uses: actions/cache@v2
        with:
          path: 'unit/mock/.rocks'
          key: ce-${{ matrix.tarantool-version }}-${{ hashFiles('./deps.sh') }}

      - name: Install unit tests requirements
        run: ./deps.sh

      - name: Run linter
        run: |
          python3 -m flake8 library unit
          ./unit/mock/.rocks/bin/luacheck unit/mock

      - name: Run unit tests
        run: python3 -m unittest discover -v unit
